<div class="container-fluid">
  <%= form_for [@user, @project, @note] do |f| %>
    <%= f.label :title %>
    <br />
    <%= f.text_field :title %>
    <br />
    <%= f.label :content %>
    <br />
    <%= f.text_area :content %>
    <br />
    <%= f.label :status %>
    <br />
    <%= f.collection_select :status_id, Status.order(:name),:id,:name %>
    <br />
    <br />
    <%= f.submit %>
  <% end %>
</div>
