<div class="jumbotron">
  <h1> <%= @note.title %> </h1>
</div>

<h3><%= @note.statuses %></h3>

<p>
<%= @note.content %>
</p>

<br />

<%= link_to "edit", edit_user_project_note_path(@user, @project, @note) %>

<br />

<%= link_to "delete", user_project_note_path(@user, @project, @note), method: :delete %>

<br />

<%= link_to "<< back to #{@project.name}", user_project_path(@user, @project) %>
