<div class="page-header container-fluid">
  <h1> <%= @note.title %> </h1>
</div>

<div class="row">
  <div class="col-xs-4">
    <h3>Additional Info</h3>
    <p>
    <%= @note.content %>
    </p>
  </div>
  <div class="col-xs-4">
    <h3>Note Status</h3>
    <ul><%= @note.status.name %></ul>
  </div>
  <div class="col-xs-4">
    <h3>Quick Links</h3>
    <li><%= link_to "edit", edit_user_project_note_path(@user, @project, @note) %></li>
    <li><%= link_to "delete", user_project_note_path(@user, @project, @note), method: :delete %></li>
    <li><%= link_to "back to #{@project.name}", user_project_path(@user, @project) %></li>
  </div>
</div>
