<div class="container-fluid">
  <%= form_for [current_user, @project] do |f| %>
    <%= f.label :name %>
    <br />
    <%= f.text_field :name %>
    <br />
    <%= f.label :tag_list %>
    <br />
    <%= f.text_field :tag_list %>
    <br />
    <%= f.submit %>
  <% end %>
</div>
