<div class="input-group in-group-lg">
<%= form_for [@user, @project] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>

  <%= f.label :tag_list %>
  <%= f.text_field :tag_list %>
<% end %>
</div>
