<div class="jumbotron">
  <h1> Information for <%= @project.name %> </h1>
</div>
<h3> Notes: </h3>
  <% @project.notes.each do |note| %>
    <li><%= link_to note.title, user_project_note_path(@user, @project, note) %></ul>
  <% end %>


<br /><br />

<%= link_to "new note", new_user_project_note_path(@user, @project) %>
|
<%= link_to "Delete '#{@project.name}' Project", user_project_path(@user, @project), method: :delete %>

<br /><br >

<%= link_to "<<back to project list", user_projects_path(@user) %>
