<h1> Information for <%= @project.name %> </h1>

<h3> Notes: </h3>
  <% @project.notes.each do |note| %>
    <li><%= link_to note.title, project_note_path(@project, note) %></ul>
  <% end %>


<br /><br />

<%= link_to "new note", new_project_note_path(@project) %>
|
<%= link_to "Delete '#{@project.name}' Project", project_path(@project), method: :delete %>

<br /><br >

<%= link_to "<<back to project list", projects_path %>
