<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProjectTracker</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="zen" src="http://i.imgur.com/0RM7a6x.jpg", style="height:25px" >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="/">Project Tracker</a>
        </div>

    <% if current_user %>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Projects", user_projects_path(current_user) %></li>
          <li><%= link_to "New Project", new_user_project_path(current_user) %></li>
          <li><%= link_to "All Tags", tags_path %></li>
        </ul>
        <p class="navbar-text navbar-right"><%= link_to "Logout", logout_path, method: :delete %></p>
        <p class="navbar-text navbar-right">Welcome, <%= current_user.first_name %></p>
      <% else %>
        <p class="navbar-text navbar-right"><%= link_to "Login", login_path %></p>
        <p class="navbar-text navbar-right"><%= link_to "Create Account", new_user_path %></p>
      <% end %>
    </div>
  </nav>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

    <%= yield %>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


  </body>
</html>
